
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, hsl(0, 0%, 0%), hsl(211, 18%, 46%));
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(159, 238, 227, 0.5);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}

input::placeholder{
    color: white;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 25px;
    box-shadow: -4px -4px 15px rgba(13, 28, 46, 0.719);
    cursor: pointer;
}

.equalBtn{
    background-color: orangered;
}

.equalBtn:active{
    background-color: black;
}

.number:hover{
    background-color: hsl(0, 0%, 20%);
}

.operator{
    color:greenyellow;
}

.operator:active{
    background-color: darkslategrey;
}

